.footer {
  background-color: $background-footer;
}

.container.footer {
  display: flex;
}

.footer-address {
  margin: 0;
  width: 270px;
  padding: 60px 0;
  margin-right: 30px;
}

.network {
  margin: 0;
  width: 270px;
  padding: 72px 0 100px;
  margin-right: 30px;
}
.address {
  font-family: "Roboto Regular";
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 20px;
  color: $white-text-color;

  a {
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
}

.network-title {
  font-family: "Roboto Bold";
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-text-color;
  margin-top: 0;
  margin-bottom: 20px;
}

.network-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.network-links a {
  text-decoration: none;
}
.network-links img {
  padding: 12px;
}

.network-links-image:not(:last-child) {
  margin-right: 10px;
}

.network-links-image {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  background-color: $background-color-icon-footer;
  fill: $background-color;
  transition: background-color 250ms $timing-function;
}

.network-links-image:hover,
.network-links-image:focus {
  background-color: $accent-color;
}

.subscribe {
  width: 570px;
  padding: 72px 0 94px;
}

.subscribe-title {
  font-family: "Roboto Bold";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-text-color;
  margin: 0 0 20px;
}
.subscribe-button {
  display: flex;
  font-family: "Roboto Bold";
  color: $background-color;
  background-color: $background-color-icon-footer;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 28px;
  letter-spacing: 0.06em;
  border: 2px;
  border-radius: 4px;
  width: 200px;
  cursor: pointer;
  transition: background-color 250ms $timing-function;
}

.subscribe-button::after {
  display: block;
  content: "";
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url(../image/svg-icons/icon-telegram.svg);
  background-size: contain;
  /* background-color: #fff; */
}

.subscribe-button:hover {
  background-color: $accent-color;
}
