.hat {
  background-color: $background-color;
  border: 1px solid #ececec;
}

.hat-logo {
  // width: 100%;
  white-space: nowrap;
  padding-top: 25px;
  padding-bottom: 25px;

  margin-right: 0;
  @media screen and (max-width: 1199px) {
    margin-left: 15px;
  }

  @include for-size(desktop) {
    margin-left: 215px;
  }
}

// .hat-link {
//   width: 370px;
//   padding-top: 32px;
//   padding-bottom: 32px;
// }

.header {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}
