.hat {
  background-color: $background-color;
  border: 1px solid #ececec;
}

.hat-logo {
  width: 170px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 85px;
}

.hat-link {
  width: 370px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}
