.hero {
  text-align: center;

  &-title {
    font-family: "Roboto Black";

    font-size: 26px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-text-color;
    // width: 696px;
    width: 100%;
    //   margin: auto;
    // margin-top: 118px;
    //   margin-bottom: 30px;
    padding-top: 118px;

    @include for-size(desktop) {
      font-size: 44px;
      padding-top: 200px;
    }
  }

  &-img {
    // max-width: 1600px;

    // height: 600px;
    // max-width: 480px;
    width: 480px;
    // height: auto;
    height: 400px;
    object-fit: fill;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../image/mobile/header.jpg);
    background-color: $background-footer;
  }
}

// .container.hero {
//   width: 480px;
//   height: 400px;
// }
