.hero {
  text-align: center;

  &-title {
    font-family: "Roboto Black";
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-text-color;
    width: 696px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 30px;
    padding-top: 200px;
  }

  &-img {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../image/header-img_opt.jpg);
    background-color: $background-footer;
  }
}
