.work {
  padding-bottom: 94px;
  &-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 370px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1;

    & a {
      position: absolute;
      bottom: 0px;
      display: inline-block;
      width: 370px;
      text-decoration: none;
      font-family: "Roboto Bold";
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $white-text-color;
      background-color: $background-third-color;
      padding: 27px 82px 27px 83px;
    }
    & img {
      display: block;
    }
    & li:not(:last-child) {
      margin-right: 30px;
    }
  }
  &-title {
    font-family: "Roboto Bold";
    font-size: 35px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    margin: auto;
    margin-top: 0;
    margin-bottom: 50px;
    width: 376px;
  }
}
